<div>Project #{{projectID}} > Post #{{postID}}</div>

<div class="container-fluid border">
    <div class="container rounded border">
        <div class="row border">
            <div class="col-auto no-gutters"><img [src]="post.author.profilePictureUrl" width="50" height="50"></div>
            <div class="col">{{post.author.username}}</div>
        </div>
        <div class="row border">
            <p>{{post.content}}</p>
        </div>
        <div class="row border">
            <div class="col"><button (click)="onLikeClick()" class="btn" [ngClass]="{'btn-outline-success': !post.liked, 'btn-success': post.liked}">
                👍
            </button></div>
        </div>

    </div>

    <div *ngFor="let comment of post.comments" class="border">
        <p>
            {{comment.content}}
        </p>
    </div>

    <button class="btn btn-primary" (click)="loadMore()">Load more ...</button>
</div>