<div class="container pt-4 justify-content-md-center">
  <div class="card">
    <div class="card-body p-2">
        <div class="media">
            <img [src]="'https://picsum.photos/id/' + post.project.id + '/150/150'" class="align-self-start mr-3 img-thumbnail" alt="logo">
            <div class="media-body">
                <h5 class="my-0"><span class="font-weight-bold">{{ post.author.firstname}} {{post.author.lastname}}</span> pour <span class="font-weight-lighter"><a [href]="'/project/' + post.project.id">{{ post.project.name}}</a></span></h5>
                <small class="text-muted"></small>
                <p class="mt-2">{{ post.content }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer p-1">
        <div class="row container">
            <div class="col" *ngIf="me">
                <button #like_btn type="button" class="btn btn-sm btn-block" (click)="onLikeClick(post)" [ngClass]="{'btn-outline-primary': !isLiked(post), 'btn-primary': isLiked(post)}">
                  <fa-icon [icon]="faThumbsUp"></fa-icon>
                </button>
            </div>
        </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let comment of comments">
      <div class="media">
        <img [src]="comment.author.profilePictureUrl" class="align-self-start mr-3 img-thumbnail comment-picture" width="50" height="auto" alt="logo">
        <div class="media-body">
            <h5 class="my-0"><span class="font-weight-bold">{{ comment.author.firstname}} {{ comment.author.lastname}}</span></h5>
            <p class="mt-2">{{ comment.content }}</p>
            <button #like_btn type="button" class="btn btn-sm" (click)="onLikeClick(comment)" [ngClass]="{'btn-outline-primary': !isLiked(comment), 'btn-primary': isLiked(comment)}">
              <fa-icon [icon]="faThumbsUp"></fa-icon>
            </button>
        </div>
      </div>
    </li>
  </ul>
  <form [formGroup]="commentForm" (ngSubmit)="onCommentFormSubmit()" *ngIf="me != null">
    <div class="form-group">
      <div *ngIf=" postCommentError " class="alert alert-danger ">
        <p>An error occurs.</p>
      </div>
      <div class="card mt-2">
        <div class="card-body py-2">
          <div class="media">
            <img [src]="me.profilePictureUrl" class="align-self-start mr-3 img-thumbnail comment-picture" width="50" height="auto" alt="logo">
            <div class="media-body">
                <h5 class="my-0"><span class="font-weight-bold">{{ me.firstname}} {{me.lastname}}</span></h5>
                <p class="mt-2"><textarea id="content" class="form-control input-lg" formControlName="content"></textarea></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-success btn-block" (click)="loadMore()">
          <fa-icon [icon]="faSpinner"></fa-icon> Load more</button>
      </div>
      <div class="col-6">
        <button class="btn btn-outline-primary btn-block" type="submit" [disabled]="!commentForm.valid ">
          <fa-icon [icon]="faPaperPlane"></fa-icon> Comment</button>
      </div>
    </div>
  </form>


</div>

<ng-template #loading>
    Loading ...
</ng-template>
