<div>Project #{{projectID}} > Post #{{postID}}</div>

<div class="list-group-item list-group-item-dark" *ngIf="(post$ | async) as post">
    <div class="list-group-item list-group-item-light, row border rounded">
        <div class="row">
            <div class="col-auto no-gutters"><img [src]="post.author.profilePictureUrl" width="50" height="50"></div>
            <div class="col">{{post.author.username}}</div>
        </div>
        <div class="container">
            <p>{{post.content}}</p>
        </div>
        <div class="container">
            <div class="col">
                <button (click)="onLikeClick(post)" class="btn" [ngClass]="{'btn-outline-success': !post.liked, 'btn-success': post.liked}">
                    👍 NbOfLike
                </button>
            </div>
        </div>
    </div>

    <br/>

    <div *ngFor="let comment of post.comments" class="list-group-item list-group-item-secondary">
        <div class="row">
            <div class="col-auto no-gutters"><img [src]="post.author.profilePictureUrl" width="50" height="50"></div>
            <div class="col">{{comment.author.username}}</div>
        </div>
        <div class="container">
            <p>{{comment.content}}</p>
        </div>
        <div class="container">
            <div class="col">
                <button (click)="onLikeClick(comment)" class="btn" [ngClass]="{'btn-outline-success': !comment.liked, 'btn-success': comment.liked}">
                    👍 NbOfLike
                </button>
            </div>
        </div>
    </div>

    <button class="btn btn-secondary btn-block" (click)="loadMore()">Load more ...</button>

    <br/>

    <div class="container">
        <div class="row justify-content-center ">
            <form [formGroup]="commentForm" (ngSubmit)="onCommentFormSubmit()">
                <input type="text" id="content" formControlName="content">
                <button class="btn btn-success" type="submit" [disabled]="!commentForm.valid">Comment</button>
            </form>
        </div>
    </div>
</div>


<div *ngIf="notFound">
    <p>Post not found !</p>
</div>