<div class="card shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-1 ml-3 d-flex justify-content-center align-items-center">
            <img [src]="user.profilePictureUrl" width="64" height="64" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="d-inline mr-3">{{user.firstname}} {{user.lastname}}<a class="ml-1" [routerLink]="'/user/' + user.id">#{{user.username}}</a></h5>
                    <app-skills-list [user]="user"></app-skills-list>
                </div>
                <p class="card-text">{{user.biography}}</p>
            </div>
        </div>
    </div>
</div>
