<nav class="navbar navbar-expand-md navbar-light bg-light">

    <a routerLink="" class="navbar-brand">SHARE YOUR PROJECT</a>

    <div class="collapse navbar-collapse  w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let route of leftNavs$ | async">
                <a *ngIf="route.type === 'link'" class="nav-link" [routerLink]="route.path">{{route.name}}</a>
                <button *ngIf="route.type === 'button'" (click)="route.onClick()" (class)="'btn btn-' + route.buttonType">{{route.name}}</button>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let route of rightNavs$ | async">
                <a *ngIf="route.type === 'link'" class="nav-link" [routerLink]="route.path">{{route.name}}</a>
                <button *ngIf="route.type === 'button'" (click)="route.onClick()" [class]="'btn btn-' + route.buttonType">{{route.name}}</button>
            </li>
        </ul>
    </div>

</nav>