<div class="container pt-3">
  <h1 class="display-3">Search</h1>
  <p class="lead">You can find anything you want here. Try to search a user or a project : </p>

  <form [formGroup]="queryForm" (ngSubmit)="onSubmit()" class="mb-3 mt-3">
      <div class="form-group">
          <input type="text" class="form-control" formControlName="query" placeholder="Share Your Project">
      </div>
  </form>


    <div class="w-100 mb-2" *ngFor="let data of results">
      <div class="row">
            <div class="w-100" *ngIf="data.type === 'user'">
                <app-user-card [user]="data.value"></app-user-card>
            </div>
            <div class="w-100" *ngIf="data.type === 'project'">
                <app-project-card [project]="data.value"></app-project-card>
            </div>

        </div>
    </div>
</div>
