<div class="container">
    <div class="row justify-content-center mt-0">
        <div class="col-md-10">
            <div class="row">
                <div class="banner">
                    <div class="banner-top">
                        <img src="https://api.shareyourproject.fr/storage/user/default_banner.png" class="mw-100" alt="banner">
                        <img [src]="'https://picsum.photos/id/' + project.id + '/150/150'" class="profile-picture rounded" alt="profile_picture">
                    </div>
                    <div class="card rounded-0 border-bottom-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">

                                </div>
                                <div class="col-5">
                                    <h2>
                                        <strong>{{project.name}}</strong>
                                    </h2>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <button type="button" *ngIf="imMember" class="btn btn-outline-success mr-2" routerLink="dashboard">
                                        <fa-icon [icon]="faTachometerAlt"></fa-icon> Dashboard
                                    </button>
                                    <button #follow_btn type="button" *ngIf="me" (click)="onFollowClick(follow_btn)" class="btn" [ngClass]="{'btn-outline-primary': !isFollowed(), 'btn-primary': isFollowed()}">
                                        <fa-icon [icon]="faBell" *ngIf="!isFollowed()"></fa-icon>
                                        <fa-icon [icon]="faBellSlash" *ngIf="isFollowed()"></fa-icon>
                                        <span *ngIf="!isFollowed()" class="ml-1">Follow</span>
                                        <span *ngIf="isFollowed()" class="ml-1">Unfollow</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bg-white shadow-sm">
                <div class="col-12 p-0 m-0">
                    <ul class="nav nav-pills nav-justified rounded-bottom border-left border-right border-bottom">
                        <li class="nav-item rounded-0">
                            <a class="nav-link link-item" [ngClass]="{active: tab === 'publications'}" (click)="tab = 'publications'">Publications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-item" [ngClass]="{active: tab === 'members'}" (click)="tab = 'members'">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-item" [ngClass]="{active: tab === 'about'}" (click)="tab = 'about'">About</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="tab === 'publications'" class="row">
                <div class="col-12 px-0 mt-3" *ngIf='(posts$ | async) as posts; else postsLoading'>
                    <app-post-card [post]="post" [me]="me" *ngFor="let post of posts"></app-post-card>
                </div>
            </div>

            <div *ngIf="tab === 'members'" class="mt-3">
                <div *ngIf='(members$ | async) as members; else membersLoading'>
                    <app-user-list [users]='members'></app-user-list>
                </div>
            </div>

            <div *ngIf="tab === 'about'">
                <div class="row">
                    <div class="col-12 px-0 mt-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h2 class="display-4">Description</h2>
                                <p>
                                    {{ project.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 px-0 mt-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h2 class="display-4">Links</h2>
                                <app-links-list [links]="project.links"></app-links-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #postsLoading>
    <p>Posts are loading</p>
</ng-template>

<ng-template #membersLoading>
    <p>Members are loading</p>
</ng-template>
