<div class="container" *ngIf="(project$ | async) as project; else loading">
    <div class="row mb-3">
        <h2>{{project.name}}</h2>
    </div>

    <div class="row">

        <div class="col-md-auto">
            <div *ngIf="(members$ | async) as members; else membersLoading">
                <app-user-list [users]="members"></app-user-list>
            </div>
            <ng-template #membersLoading>
                Loading members...
            </ng-template>
        </div>

        <div class="col border p-2">
            <div class="alert alert-info">
                <p>{{project.description}}</p>
            </div>
        </div>
    </div>

</div>

<ng-template #loading>
    Loading ...
</ng-template>