<div class="container pt-4">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="display-5">Welcome on <strong>Share Your Project</strong> !</h1>
      <p class="lead">
        Project lovers,<br><br>
      Whether you are passionate about IT, electronics
      or any other field, you have no doubt already
      been confronted with this moment when you are
      looking if your project already exists , or how to
      make it discover and how to share it. We have all
      already wanted to invest in a project, but the
      idea of embarking alone on this path is often
      scary.<br><br>
      ShareYourProject.fr is a web project sharing
      solution of all kinds , allowing members to take
      advantage of innovative project management
      solutions, and visitors to be able to follow the
      progress of their favorite projects .
      Gone are the days when projects stayed in the
      back of your mind, share them and make them
      happen!
      </p>
      <hr class="my-4">
      <p>You can start by <a href="/search/CPO">searching projects to follow</a> or create your own project !</p>
      <a class="btn btn-outline-primary btn-block" href="/project/new" role="button">Create my project</a>
    </div>
  </div>
</div>
