<div class="card shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-1 ml-3 d-flex justify-content-center align-items-center">
            <img [src]="'https://picsum.photos/id/' + project.id + '/150/150'" width="64" height="64" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><a [routerLink]="'/project/' + project.id">{{project.name}}</a></h5>
                <p class="card-text">{{project.description}}</p>
            </div>
        </div>
    </div>
</div>
