<div class="container">
    <div class="row">
        <div class="col">
            <br/>
            <h1>Welcome home {{user.username}} !</h1>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Your projects</h2>
            <div *ngIf="(projects$ | async) as projects; else loading">
                <div *ngFor="let project of projects">
                    <a [routerLink]="'/project/' + project.id">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <img src="#">
                                    <h4 class="card-title">{{project.name}}</h4><br/>
                                </div>
                                <div class="row">
                                    <p class="card-text">
                                        {{project.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Projects followed</h2>
            <div>
                <!--
                    à faire si le follow est dispo
                -->
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <img src="#">
                                <h4 class="card-title">Project #0</h4>
                            </div>
                            <div class="row">
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iusto illum odit, nobis pariatur sed repellat architecto, sapiente, quia numquam suscipit praesentium. Quisquam, doloremque quibusdam porro atque perferendis libero repudiandae?
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--
                    fin
                -->
            </div>
        </div>
    </div>
    <br/>
    <div class="row border-top"></div>
    <br/>
    <div class="row">
        <div class="col">
            <h2>Your feed</h2>
            <p>to do</p>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading projects...
</ng-template>